$bordercolor:2px #2DA07A solid ;
$marginBottom:10px;
$marginTop:10px;
$alingtext:center;
$family: Corbel ;
$BACKGROUND:#2DA07A; 
$COLOR:white;

.search {
	display:flex;
	justify-content: space-around; 
	font-family:$family;
}
select {
	font-family: $family; 
	font-size: 15px ;
	margin-top: $marginTop;
	margin-bottom: $marginBottom;
	width: 200px ;
	border: $bordercolor;
}
.inputprice{
  margin-right: 20px;
}
.test{
  display: flex;
}
input {
	text-align: $alingtext;
	border: $bordercolor;
	margin-top: $marginTop;
	margin-bottom: $marginBottom;
	margin-right: 2px ;
}
.divMiniGenerale{ 
	padding:20px;
	font-size: 20px;
	margin-left: 20%;
}
.container{
	display: grid;
	grid-template-columns: auto auto;
    padding:10px;
}
label{
	text-align: center;
	 margin-left: 2%;
}
.miniDiv {
	margin-left: 12% ;
	padding-top: 10px;
}
#btn {
	text-align: $alingtext;
	background-color:$BACKGROUND;
	height: 25px ;
	width: 100px ;
	border-radius: 20px ;
	color:$COLOR;
	cursor: pointer;
}
.myFooter{ 
	div {
		display:flex;
    } 
	label {
		margin-top: 5px;
    }
}
/* Responsive*/
@media screen and(max-width:800px){
	.search{
		display: unset;
		text-align: center;
	}
	.divSemiGenerale{ 
		display:flex;
		flex-direction: column;
	}
	.divMiniGenerale img {
    width:95%;
	height: 70%;
	}
	.divMiniGenerale{
	margin-left: 5px;	
	}
	.miniDiv {
		text-align: start;
		}
		label{
			margin-left: 0%;
		}
	.test{
		display: flex;
		flex-direction: column;
	}
	#btn{
	  margin-left: 35%;
	}
}
  