$font1:Forte;
$font2:Segoe UI;
$color1:#2DA07A;
$color2:#9ED2C1;
$color3:red;

.contentDiv {
	display: flex ;
	margin-left: 80px ;
	margin-top: 20px ; 	
	
	div {
		label {
			color: black ;
			opacity: 100% ; 
		    }  
		
		} 
	
}
.generalContentDiv {
	background-color: $color2 ;
	border-radius: 40px ;
	height: 450px ;
	padding-top: 5px; 
	margin-left: 200px; 
	margin-right: 200px; 
	margin-bottom: 25px ; 
}
h2 {
	font-family: $font1; 
	color: $color1 ;
	text-align: center ;
	margin-bottom: 10px; 
	}
.miniContentDiv{ 
	margin-right: 100px ; 
}
label { 
	font-family: $font2 ;  
	font-size: 20px ; 
	}
.inptSelect {
	height: 30px ; 
	width: 300px ; 
	}
.contentDivPlus {
	display: flex ;
	flex-direction: column ; 
	margin-bottom: 50px ;
	margin-top: 20px ;
	text-align: center ;
	}
.inp {
	width: 705px ; 
	}
.btn {
	background-color: $color1; 
	border-radius: 30px ;
	width: 200px ;
	height: 50px ;
	border: none ;
	position: absolute; 
	left: 43% ;
	color: white; 
	font-family: $font2 ;
	font-size: 25px ;
	margin-top: -2%;
}
.files{
	width: 365px;
	padding-left: 300px;
}
div span{
	color:$color3;
}

